
@{
}

@using DemoASPWithEntityFramework.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/Course/List">Go Home</a>
    <h3>Add new Course</h3>
    <form action="/Course/Add" method="Post">
        CourseCode <input name="course.CourseCode" /><br />
        CourseDescription <input name="course.CourseDescription" /><br />
        Subject <select name="course.SubjectId">
            @foreach (Subject s in ViewBag.Subject)
            {
                <option value="@s.SubjectId">@s.SubjectName</option>
            }
        </select><br />
        Instructor <select name="course.InstructorId">
            @foreach (Instructor i in ViewBag.Instructor)
            {
                <option value="@i.InstructorId">@i.InstructorFirstName @i.InstructorLastName</option>
            }
        </select><br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>


